/* Action Section */
.actionSection {
  position: relative;
  width: 100%;
  background: #615c5c;
  padding-top: 20px;
  padding-bottom: 20px;
  z-index: 2;
  transition: all 0.3s ease-out;
  cursor: pointer;
}

.actionSection:hover {
  background: #f5f5f5;
}

.actionSection h6 {
  color: #fff;
  transition: all 0.3s ease-out;
  text-align: center;
  margin: 0;
  font-size: 18px;
}

.actionSection p {
  color: #fff;
  padding-top: 15px;
  text-align: center;
  transition: all 0.3s ease-out;
  margin: 0;
}

.actionSection:hover h6 {
  color: #333;
}

.actionSection:hover p {
  color: #615c5c;
}

.actionSection span {
  padding-top: 8px;
}

