/* Services Section */
.servicesSection {
  position: relative;
  margin: 0 auto;
  width: 100%;
  overflow: hidden;
  z-index: 2;
  padding-top: 70px;
  padding-bottom: 100px;
  box-sizing: border-box;
}

.topText {
  position: relative;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  padding-bottom: 50px;
}

.topText h1 {
  margin-bottom: 20px;
  font-size: 36px;
  line-height: 42px;
  color: #615c5c;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.subline {
  position: relative;
  width: 80px;
  height: 3px;
  margin: 20px auto 0;
  background: #615c5c;
  text-align: center;
  border-radius: 2px;
}

.topSubtext {
  position: relative;
  margin: 0 auto;
  text-align: center;
  font-family: 'Lato', sans-serif;
  font-size: 18px;
  line-height: 28px;
  opacity: 0.85;
  color: #827b7d;
  padding-top: 30px;
  max-width: 700px;
  font-weight: 300;
}

/* Responsive */
@media only screen and (min-width: 600px) and (max-width: 767px) {
  .servicesSection {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

