/* Testimonials Section */
.testimonialsWrapper {
  position: relative;
  display: block;
  width: 100%;
  overflow: hidden;
  padding-top: 100px;
  padding-bottom: 100px;
}

.parallax {
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
}

.backgroundGrid {
  position: absolute;
  background: url("data:image/svg+xml,%3Csvg width='60' height='60' viewBox='0 0 60 60' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%23ffffff' fill-opacity='0.1'%3E%3Cpath d='M36 34v-4h-2v4h-4v2h4v4h2v-4h4v-2h-4zm0-30V0h-2v4h-4v2h4v4h2V6h4V4h-4zM6 34v-4H4v4H0v2h4v4h2v-4h4v-2H6zM6 4V0H4v4H0v2h4v4h2V6h4V4H6z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  width: 100%;
  height: 100%;
  opacity: 0.8;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow: hidden;
  z-index: 0;
}

.topText {
  position: relative;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  padding-bottom: 50px;
  z-index: 2;
}

.topText h3 {
  color: #fff;
  margin-bottom: 20px;
  font-size: 36px;
  line-height: 42px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.subline {
  position: relative;
  width: 80px;
  height: 3px;
  margin: 20px auto 0;
  background: #fff;
  text-align: center;
  border-radius: 2px;
}

.testimonialItem {
  text-align: center;
  margin-bottom: 40px;
  padding: 30px;
  position: relative;
  z-index: 2;
}

.justPattern {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  pointer-events: none;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.8));
  background-image: url('/pattern.png');
  background-blend-mode: overlay;
  opacity: 0.7;
  background-repeat: repeat;
}

.testimonialItem h4 {
  font-family: 'Lato', sans-serif;
  color: #fff;
  text-transform: none;
  font-weight: normal;
  font-size: 24px;
  line-height: 32px;
  margin-bottom: 20px;
  font-style: italic;
}

.testimonialItem h6 {
  color: #fff;
  font-size: 16px;
}

.testimonialItem h6 span {
  opacity: 0.8;
}

/* Responsive */
@media only screen and (max-width: 959px) {
  .parallax {
    background-attachment: scroll;
    background-position: top center !important;
  }
}

@media only screen and (min-width: 600px) and (max-width: 767px) {
  .testimonialsWrapper {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  
  .testimonialItem {
    padding: 20px;
  }
  
  .testimonialItem h4 {
    font-size: 20px;
    line-height: 28px;
  }
}

